[Desktop Entry]
Encoding=UTF-8
Name=Al-Anvar
GenericName=Quran research tool
Comment=Quran research tool
Comment[en_US]=Quran research tool
Exec=al-anvar
Icon=alanvar
Type=Application
Terminal=false
Categories=Application;Utility;
StartupNotify=false
